<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title>Jose Villarroel Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/breakpoints.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,300i,400" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <li><a class="js--nav-aboutme" href="#">Who am I?</a></li>
                    <li><a class="js--nav-skills" href="#">Skillset</a></li>
                    <li><a href="https://github.com/Wayhem" target="_blank">Github</a></li>
                    <li><a href="/download" target="_blank">Resume</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-text-box">
            <h1>Jose Villarroel</h1>
            <h2>software developer</h2>
            <a class="button button-full js--button-projects" href="#">Projects</a>
            <a class="button button-outline js--button-contact" href="#">Contact</a>
        </div>
    </header>
    <section class="aboutme">
        <div class="row">
            <h3>About me</h3>
            <p class="long-p">Greetings, I’m a software developer, FullStack Engineer, blockchain enthusiast and a natural problem solver always looking
            for new challenges, I am well versed when it comes to JavaScript programming, using it smoothly in almost every aspect of
            my projects/apps, but I’m always open to learn any stacks if it get things done.<br><br>
            My motto as a developer is if I am the smartest person in the room, I am in the wrong room. I love learning, and want to become the best developer I can be. I am a maker - I enjoy creating in my career and after hours, and I believe that through great effort and passion your code can change people's lives for the better. 
            </p>
        </div>
    </section>
    <section class="skills alt">
        <div class="row">
            <h3>Skillset</h3>
            <p class="long-p">These are the fields I'm focused and passionate about as a developer, but be sure to contact me, I might have some extras you might be interested in.</p>
        </div>
        <div class="row">
            <div class="col span-1-of-4 box">
                <i class="icon i-big ion-logo-sass"></i>
                <h4>Front-end</h4>
                <p>As a developer and problem solver, I recognize presentation of a product is key for success, therefore I use tools like <strong>JS, React, Redux, HTML/CSS, SASS/SCSS, ES6/ES2015+, Webpack, Babel and many more</strong> in order to captivate and bring the best experience to my users.</p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="icon i-big ion-logo-nodejs"></i> 
                <h4>Back-end</h4>
                <p>Effective data modeling is crucial for good information delivery and usage, using <strong>Node.js, MongoDB or MySQL, GraphQL, Express.js, Laravel and many others</strong> for developing nice and useful API through effective usage of coding design patterns.</p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="icon i-big ion-logo-bitcoin"></i> 
                <h4>Blockchain</h4>
                <p>Blockchain disruption started not so long ago, yet it has made data persistence and security work on a whole different level, I use <strong>Web3.js, metamask, Ganache-cli and several truffle tools,</strong> to develop nice and useful smart contracts and dApps</p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="icon i-big ion-logo-ionitron"></i> 
                <h4>Machine Learning</h4>
                <p>Currently one of the fields I am most excited about yet one of the least explored by me, currently getting used to effective <strong>design patterns and data algorithms, for deep learning and decision making with TensorflowJS</strong> for developing nice problem solving apps through AI.</p>
            </div>
        </div>
    </section>
    <section class="project-head">
        <div class="row">
            <h3>Projects</h3>
        </div>
    </section>
    <section class="projects">
        <ul class="showcase clearfix">
            <li>
                <a href="https://traderfolio.herokuapp.com/" target="_blank">
                    <figure class="project-img">
                        <p><strong>Traderfolio is a project working with React, AJAX calls, ES6, input autocomplete and more. Doing something nice and simple like storing and showing your savings in crypto, uses Cryptocompare API</strong></p>
                        <img src="/images/traderfolio.png" alt="traderfolio">
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://trust-fund.herokuapp.com/" target="_blank">
                <figure class="project-img">
                    <p><strong>TrustFund is a dApp I made based on two small contracts, the logic of the app is like any other crowdfunding site but allows contributor to have a choice on that crowdfunded money, uses Metamask, solidity, GanacheCLI, NextJS, React, Express, JWT and MongoDB for that purpose.</strong></p>
                    <img src="/images/trust-fund.png" alt="trust fund">
                </figure>
                </a>
            </li>
            <li>
                <a href="http://45.77.80.170/" target="_blank">
                <figure class="project-img">
                    <p><strong>Parking Villa is a small app I developed in order to test my skills, I had to learn how to use Vue.js and Laravel and also make this app in only 1 week, uses API calls to the website who requested it which is Alegra.com</strong></p>
                    <img src="/images/parking-villa.png" alt="parking villa">
                </figure>
                </a>
            </li>
            <li>
                <a href="https://vzlatours.herokuapp.com/" target="_blank">
                <figure class="project-img">
                    <p><strong>Venezuela tours is a small production site I made while learning and practicing the basics of web development, front-end and back-end wise, Uses MongoDB, Express, Passport, Bootstrap, and other tools in order to save and dynamically display toursites, users and comments.</strong></p>
                    <img src="/images/vzla-tours.png" alt="venezuela tours">
                </figure>
                </a>
            </li>
        </ul>
    </section>
    <section class="project-body alt">
        <div class="row">
            <h3>Repos</h3>
        </div>
        <div class="row step-box">
            <div class="repo-step">
                <div>1</div>
                <p><em>Traderfolio:</em> a front-end oriented project.</p>
                <a href="https://github.com/Wayhem/traderfolio" target="_blank" class="i-small"><i class="icon ion-logo-github">v1</i></a>
                <a href="https://github.com/Wayhem/traderfoliov2" target="_blank" class="i-small"><i class="icon ion-logo-github">v2</i></a>
                <a href="https://traderfolio.herokuapp.com/" target="_blank" class="i-small"><i class="icon ion-ios-link"></i></a>
            </div>
            <div class="repo-step">
                <div>2</div>
                <p><em>TrustFund:</em> a blockchain oriented project.</p>
                <a href="https://github.com/Wayhem/KSC" target="_blank" class="i-small"><i class="icon ion-logo-github"></i></a>
                <a href="https://trust-fund.herokuapp.com/" target="_blank" class="i-small"><i class="icon ion-ios-link"></i></a>
            </div>
            <div class="repo-step">
                <div>3</div>
                <p><em>Parking Villa:</em> a full-stack oriented project.</p>
                <a href="https://github.com/Wayhem/parking-villa" target="_blank" class="i-small"><i class="icon ion-logo-github"></i></a>
                <a href="http://45.77.80.170/" target="_blank" class="i-small"><i class="icon ion-ios-link"></i></a>
            </div>
            <div class="repo-step">
                <div>4</div>
                <p><em>Venezuela Tours:</em> a full-stack oriented project.</p>
                <a href="https://github.com/Wayhem/vzla-tour" target="_blank" class="i-small"><i class="icon ion-logo-github"></i></a>
                <a href="https://vzlatours.herokuapp.com/" target="_blank" class="i-small"><i class="icon ion-ios-link"></i></a>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="row">
            <h3>Be sure to contact me</h3>
        </div>
        <div class="row">
            <form method="POST" action="/" class="contact-form" id="postForm">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="Your name">  
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" name="email" id="email" placeholder="example@company.com" required> 
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="message">Message</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea name="message" id="message" rows="6" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="message">&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <div class="g-recaptcha" data-sitekey="6LdHHXwUAAAAAGv_Dmql9JfQ8T1WIvNHK72KMNzo"></div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                &nbsp;
            </div>
            <div class="col span-1-of-2">
                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/jose-villarroel-bouza"><i class="icon ion-logo-linkedin"></a></i></li>
                    <li><a href="https://github.com/Wayhem"><i class="icon ion-logo-github"></i></a></li>
                    <li><a href="https://www.instagram.com/jvillarroel94"><i class="icon ion-logo-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2019 by Jose Villarroel. MIT license.
            </p>
        </div>        
    </footer>

    <script src="/vendors/js/sweetalert2.all.min.js"></script>
    <script src="/vendors/js/noframework.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js" integrity="sha256-9uAoNWHdszsUDhSXf/rVcWOqKPfi5/8V5R4UdbZle2A=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/selectivizr@1.0.3/selectivizr.min.js"></script>
    <script src="/assets/js/custom.js"></script> 
    <script src="/assets/js/main.js"></script>
</body>
</html>