<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jose Villarroel Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,300i,400" rel="stylesheet">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <header>
        <div class="main-text-box">
            <h1>Jose Villarroel</h1>
            <h2>software developer</h2>
            <a class="button button-full" href="#">Projects</a>
            <a class="button button-outline" href="#">Contact</a>
        </div>
    </header>
</body>
</html>