<!DOCTYPE HTML>
<html>
	<head>
		<title>Jose Villarroel Portfolio</title>
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css"/></noscript>
		<link rel="stylesheet" href="/assets/css/custom.css">
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-line-chart"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Greetings!</h1>
								<p>I see you are interested on my work as a developer <br />
								</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="/images/pic01.jpg" alt="" /></span>
								<p>This is a small intro about myself, my motivations and my life, if you want to directly see <a href="#work">my work</a> be sure to click the link, hope you like it.</p>
								<p>I once heard a saying that goes by "Everything starts with a dream", however my starts on coding were more likely to be started by a simple motivation. I was born and raised in Venezuela, a country that used to be way much more in so many ways, than it is at the moment. My motivation is simple, I have a dog and her name is Akira(she is up there in the photo!), buying barely 5 pounds of food for her is already 2 minimum salaries, so in order to make enough for us to eat, I started trading Cryptos besides my full-time job, Cryptos led to Ethereum, Blockchain, Solidity and Smart Contracts and that finally led to me being a developer! Anyways facts say much more than words so let <a href="#work">my work</a> speak for me.</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Work</h2>
								<span class="image main"><img src="/images/pic02.jpg" alt="" /></span>
								<p>In the next section I will show you the links alongside a brief explanation about some of the apps I've made, hope you enjoy!</p>
								<h3>Venezuela Tours</h3>
								<p><a href="https://vzlatours.herokuapp.com">Venezuela Tours</a> is a small production site I made which consist in a place where you can store your own toursites(Hotels, Inns, Parks) and set a price per night, you can register and comment on other toursites too posted by other users, Uses a simple MEN stack so any reactiva framework can be applied. Check out the <a href="https://vzlatours.herokuapp.com">app</a> and the code at <a href="https://github.com/Wayhem/vzla-tour">GitHub</a></p>
								<h3>Parking Villa</h3>
								<p><a href="http://45.77.80.170/">Parking Villa</a> is a small app I developed in order to test my skills, I had to learn how to use Vue.js and Laravel and also make this app in only 1 week, it was an app made for a company called <a href="https://www.alegra.com">"Alegra"</a> which is an app for small and medium enterprises accountings, the app consists of parking lot of 10 cells, 5 in the back and 5 upfront, it should be able to park cars using the cell behind before the cell upfront, move the car in front to another cell if it's blocking the car trying to leave and park the car blocking the way in the spot of the one coming out in case parking lot is full. It is also able to keep track of the car coming in and coming out, track the time each spot is being occupied and generate paying tickets with the Alegra remote API. For the moment the code is private, I can share it if you reach out to me with no problems, be sure to check out the <a href="http://45.77.80.170/">app</a></p>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="/images/pic03.jpg" alt="" /></span>
								<p>So now you know how I work and who I am, feel free to employ me anytime, anywhere! I am passionate developer and a really responsible one, so challenge me to do what needs to be done! Hoped you enjoyed my portfolio.</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="/" id="postForm">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
										<div class="g-recaptcha field" data-sitekey="6LdHHXwUAAAAAGv_Dmql9JfQ8T1WIvNHK72KMNzo"></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/jose-villarroel-bouza" class="icon fa-linkedin"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.instagram.com/jvillarroel94/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Wayhem" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

					</div>

					<footer id="footer">
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script src="/assets/js/sweetalert2.all.min.js"></script>
			<script src="/assets/js/custom.js"></script>
	</body>
</html>
