@media only screen and (max-width: 1200px) {
    .main-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}

@media only screen and (max-width: 1023px) {
    .step-box p { display: none; }
    body { font-size: 18px; }
    section { padding: 60px 0}
    .long-p {
        width: 80%;
        margin-left: 10%;
    }
    .contact-form { width: 80%; }
    .skills .row .col { 
        width: 70%;
        margin-left: 15%;
        text-align: justify;
    }
}

@media only screen and (max-width: 767px) {
    .step-box {margin-top: 10px;}
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row,
    .main-text-box { padding: 0 4%; }
    .col { 
        width: 100%; 
        margin: 0 0 4% 0;
    }
    .skills .row .col { width: 100%; }
    .skills .row .col { margin-left: 1%; }
    .main-nav {display: none;}
    .contact-form {width: 85%;}
    h1 { font-size: 180%; }
    h2 { font-size: 105%; }
    h3 { font-size: 150%; }
    .long-p {
        width: 100%;
        margin-left: 0%;
        font-size: 120%;
    }
    .repo-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 1.2rem;
    }
    .box p {
        font-size: 100%;
        line-height: 140%;
    }
}

@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
}

