h2 {
  letter-spacing: 0;
}

.swal2-popup .swal2-actions .swal2-styled {
  vertical-align: middle;
  letter-spacing: 0;
  padding-top: 0px;
  padding-right: 1.25rem;
  padding-bottom: 0px;
  padding-left: 1.35rem;
}
