/* -------------------------------------------- */
/* Initial Setup */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: #fff;
    color: #4f4f4f;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------- */
/* REUSABLE */
/* -------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 4rem 0;
}
.alt {
    background-color: #f5f5f5;
}
.box {
    padding: 1%;
}

/* 
BASE COLOR
2196f3
*/

/* -------------------------------------------- */
/* Headings */
/* -------------------------------------------- */

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1, h3, h4 {
    font-weight: 300;
}

h1, h2 {
    margin-top: 0;
    color: #fff;
    word-spacing: 3px;
}

h1 {
    margin-bottom: 0.2rem;
    font-size: 2.4rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

h3 {
    font-size: 1.8rem;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}

h3::after {
    display: block;
    height: 0.1rem;
    background-color: #2196f3;
    content: " ";
    width: 5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
/* -------------------------------------------- */
/* Paragraph elements */
/* -------------------------------------------- */

.long-p {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
}

.box p {
    font-size: 0.9rem;
    line-height: 140%;
}

.project-img p {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 10;
    transition: color 0.2s;
    opacity: 1;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.repo-step p {
    padding-top: 0.7rem;
    float: left;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* -------------------------------------------- */
/* Icons */
/* -------------------------------------------- */

.i-big {
    font-size: 3rem;
    display: inline-block;
    color: #2196f3;
}

.i-small:link,
.i-small:visited {
    font-size: 2rem;
    margin-left: 1rem;
    color: #2196f3;
    transition: all 0.3s;
}

.i-small:hover,
.i-small:active {
    color: #0c7cd6;
}

.repo-step i {
    display: inline-block;
}

/* -------------------------------------------- */
/* BTNs */
/* -------------------------------------------- */

.button:link,
.button:visited,
input[type=submit] {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 0.3s;
    margin-right: 0.5rem;
}

.button-full:link,
.button-full:visited,
input[type=submit] {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    color: #fff;
}

.button-outline:link,
.button-outline:visited {
    border: 1px solid #2196f3;
    color: #2196f3;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #0c7cd6;
    cursor: pointer;
}

.button-full:hover,
.button-full:active,
input[type=submit]:hover,
input[type=submit]:active  {
    border: 1px solid #0c7cd6;
}

.button-outline:hover,
.button-outline:active {
    border: 1px solid #0c7cd6;
    color: #fff;
}

/* -------------------------------------------- */
/* Header Section */
/* -------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/main.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
/* Format for possible brand logo
.logo {
    height: 5rem;
    width: auto;
    float: left;
    margin-top: 1rem;
} */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 3rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 2rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 0.2rem 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2196f3;
    color: #2196f3;
}

/* -------------------------------------------- */
/* Skills */
/* -------------------------------------------- */
.skills .long-p {
    margin-bottom: 1.5rem;
}

/* -------------------------------------------- */
/* Projects */
/* -------------------------------------------- */

.showcase {
    list-style: none;
    width:100%;
}

.showcase li {
    display: block;
    float: left;
    width: 25%;
    background-color: #000;
    position: relative;
    z-index: 1;
}

.project-img {
    width: 100%;
    margin: 0;
    position: relative;
    color: transparent;
    overflow: hidden;
    transition: all 0.4s;
}

.project-img img {
    width: 100%;
    height: auto;
    transition: all 0.4s;
}

.project-img:hover {
    color: #fff;
}

.project-img:hover img {
    opacity: 0.4;
}

.projects {
    padding: 0;
}

.step-box {
    margin-top: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.repo-step {
    margin-bottom: 2.5rem;
}

.repo-step div {
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    text-align: center;
    padding: 0.25rem;
    float: left;
    font-size: 1.5rem;
    margin-right: 1.25rem
}

/* -------------------------------------------- */
/* Contact */
/* -------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 1rem auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
    background-color: #333;
    padding: 2rem;
}

.social {
    list-style: none;
    float: right;
}

.social li {
    display: inline-block;
    margin-right: 1rem;
}

.social li:last-child {
    margin: 0;
}

.social li a:link,
.social li a:visited {
    text-decoration: none;
    color: #888;
    transition: all 0.3s;
    font-size: 1.5rem;
}

.social li a:hover,
.social li a:active {
    color: #ddd;
}

.social li a .ion-logo-instagram:hover,
.social li a .ion-logo-linkedin:hover,
.social li a .ion-logo-github:hover {
    transition: color 0.3s;
}

.social li a .ion-logo-linkedin:hover {
    color: #0077b5;
}

.social li a .ion-logo-github:hover {
    color: #f5f5f5;
}

.social li a .ion-logo-instagram:hover {
    color: #517fa4;
}



@media only screen and (max-width: 880px) {
    .step-box p {
        display: none;
    }
}